body{
  margin: 0%;
  padding: 0%;
}

.grandparent{
  background-color: #004E98;
  width: 50rem;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 26rem;
  margin-left: auto;
  margin-right: auto;
}

.parent1{
  width: 25rem;
  position: absolute;
  left: 0%;

}


.parent1 img{
  width: 25rem;
  position: absolute;
  
}

.parent1 p {
  position: absolute;

}

.p1 {
   left: 100px; width: 200px; top: 130px; color: white;
   text-align: center;
   font-size: 1.25rem;
}

.p2{
  left: 135px; width: 400px; top: 180px; color: white;
  font-size: 3rem;

}


.parent2{
  width: 25rem;
  position: absolute;
  background-color: #004E98;
  right: 0%;
  top: 70px;
}

.box{
  display: flex;
justify-content: center;
width: 18rem;
padding: 20px;
height: 15rem;
font-size: 1rem;
text-align: center;
right: 40px;
position: absolute;
background-color: aliceblue;
align-items: center;
border-radius: 10px;
color: #004E98;
}